<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.stock.pojo.mapper.StockBusinessMapper">

    <resultMap id="BaseResultMap" type="com.itheima.stock.pojo.entity.StockBusiness">
            <id property="stockCode" column="stock_code" />
            <result property="stockName" column="stock_name" />
            <result property="blockLabel" column="block_label" />
            <result property="blockName" column="block_name" />
            <result property="business" column="business" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        stock_code,stock_name,block_label,block_name,business,update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_business
        where  stock_code = #{stockCode} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from stock_business
        where  stock_code = #{stockCode} 
    </delete>
    <insert id="insert" keyColumn="stock_code" keyProperty="stockCode" parameterType="com.itheima.stock.pojo.entity.StockBusiness" useGeneratedKeys="true">
        insert into stock_business
        ( stock_code,stock_name,block_label,block_name,business,update_time)
        values (#{stockCode},#{stockName},#{blockLabel},#{blockName},#{business},#{updateTime})
    </insert>
    <insert id="insertSelective" keyColumn="stock_code" keyProperty="stockCode" parameterType="com.itheima.stock.pojo.entity.StockBusiness" useGeneratedKeys="true">
        insert into stock_business
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="stockCode != null">stock_code,</if>
                <if test="stockName != null">stock_name,</if>
                <if test="blockLabel != null">block_label,</if>
                <if test="blockName != null">block_name,</if>
                <if test="business != null">business,</if>
                <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="stockCode != null">#{stockCode},</if>
                <if test="stockName != null">#{stockName},</if>
                <if test="blockLabel != null">#{blockLabel},</if>
                <if test="blockName != null">#{blockName},</if>
                <if test="business != null">#{business},</if>
                <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.itheima.stock.pojo.entity.StockBusiness">
        update stock_business
        <set>
                <if test="stockName != null">
                    stock_name = #{stockName},
                </if>
                <if test="blockLabel != null">
                    block_label = #{blockLabel},
                </if>
                <if test="blockName != null">
                    block_name = #{blockName},
                </if>
                <if test="business != null">
                    business = #{business},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime},
                </if>
        </set>
        where   stock_code = #{stockCode} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.itheima.stock.pojo.entity.StockBusiness">
        update stock_business
        set 
            stock_name =  #{stockName},
            block_label =  #{blockLabel},
            block_name =  #{blockName},
            business =  #{business},
            update_time =  #{updateTime}
        where   stock_code = #{stockCode} 
    </update>
</mapper>
